{% extends "layouts/base.html" %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<div class="dashboard">
    <h1>Личный кабинет клиента</h1>
    
    <div class="dashboard-grid">
        <!-- Виджет "Мои услуги" -->
        <a href="{{ url_for('main.manage_services') }}" class="dashboard-card clickable-card">
            <h3>📊 Мои услуги</h3>
            <p>Просмотр и управление подключенными услугами</p>
            <div class="card-hover-text">Нажмите для просмотра →</div>
        </a>

        <!-- Виджет "Статистика" -->
        <div class="dashboard-card">
            <h3>📈 История платежей </h3>
            <p> История оплаты услуг </p>
        </div>
    </div>
</div>
{% endblock %}